.footer2 {
    height: 100px;
}

.footer {
    background-color: rgb(224, 213, 213);

}


ul {
    list-style: none;
    float: left;

    // padding: 0px 90px;
}

li a {
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 8px;
    font-family: "Times New Roman", Times, serif;
    color: #333;

}

h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    color: rgb(28, 17, 109);
}