.img1 {
    margin: auto;
}

.main1 {
    height: 40px;
}

.main2 {
    border-radius: 40px;
    background: rgb(253, 251, 251);
}

.main3 {
    border-radius: 40px !important;
    background: rgb(248, 239, 239);
}

.main3 p {
    font-size: 15px !important;
    font-family: "Times New Roman", Times, serif;
}

.main3 h4 {
    color: rgb(32, 47, 211);
}

.main4 {
    background: rgb(255, 255, 255);
}

.main5 {
    border-radius: 50px !important;
    width: 70% !important;
    margin-left: 15%;
    background: rgb(80, 157, 202) !important;
}